<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/nav.css">
  <title>Document</title>
</head>
<body>
  <h1>Red's Blogsite</h1>
  <%- include('../partials/nav.ejs') %>
  <h1>All Posts</h1>
  <% for(let el of posts) { %>
    <a href="/blogs/<%= el._id %>"><h2><%= el.title %></h2></a>
    <p>Created: <%= el.createdAt %></p>
  <% }; %>
</body>
</html>