#form-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

#form-container button {
  background-color: rgba(0,0,0,0.05);
  border-radius: 10px;
  height: 30px;
}

#form-container button:hover {
  background-color: rgba(0,0,0,0.2);
}