/* ===== Elements ===== */
/* ===== classes ===== */
.nav-container {
  height: 50px;
  background-color: rgba(50,50,50,1);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.nav-container a {
  min-width: 100px;
  width: 15vw;
  max-width: 150px;
  height: 95%;
  display: flex;
  /* Horizontal */
  align-items: center;
  /* Veritcal */
  justify-content: center;
  /* Remove underline */
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.nav-container a:hover {
  color: rgba(150,150,150,0.5);
}
/* ===== Ids ===== */